listen_addresses = '*'
port = 5432
backend_hostname0 = '172.28.0.10'
backend_port0 = 5432
backend_weight0 = 1
backend_hostname1 = '172.28.0.11'
backend_port1 = 5432
backend_weight1 = 1
load_balance_mode = on
sr_check_user = 'postgres'
sr_check_password = '{{ vault_db_password }}'
